/* You can add global styles to this file, and also import other style files */
.componentetabla{
 margin-top: 5em;
}

.combo{
    margin-bottom: 2.2em;
   }

.flex{
    display: flex !important;
    align-content: flex-start;
}

.tipoUsuario{
    margin-left: 8em;
    margin-right: 60em;
    margin-top: 2em;
    margin-bottom: 3em;
}