<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <div class="collapse navbar-collapse" id="menunavegacion">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Gestion de Usuarios - GizloAPP</a>
      </li>
    </ul>
  </div>
</nav>
<div class="componentetabla">
  <div class="container">
    <div class="col-12">
      <div class="flex">
       <div class="combo">
         <div  class="col-12" >
           <label>Seleccione el tipo de usuario</label>
           <select class="form-control" [(ngModel)]="tipoUsuarioSeleccionado.tipo" 
            (change)= "onSeleccionarCombo($event)" >
             <option *ngFor="let x of tiposUser" value={{x.tipo}}>
               {{x.descripcion}}
             </option>
           </select>
         </div>
         </div>
     </div>
    <div class="row">
      <div class="col-12"> 
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">{{nombreColumnas.nombreColumnaUno}} </th>
              <th scope="col">{{nombreColumnas.nombreColumnaDos}} </th>
              <th scope="col">{{nombreColumnas.nombreColumnaTres}} </th>
              <th scope="col">{{nombreColumnas.nombreColumnaCuatro}} </th>
              <th scope="col">{{nombreColumnas.nombreColumnaCinco}} </th>
            </tr>
          </thead>
          <tbody *ngFor="let modelo of modeloGenerico ">
            <tr>
              <td> {{modelo.atributoUno}} </td>
              <td>{{modelo.atributoDos}}</td>
              <td>{{modelo.atributoTres}}</td>
              <td>{{modelo.atributoCuatro}}</td>
              <td>{{modelo.atributoSeis}}</td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>